<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Main Menu</title>
</head>
<body>
    <form action="inventoryMenu" method="GET">
        <h1>Inventory Menu</h1>
        <p><input type="submit" name="inventoryMenu"></p>
    </form>

    <form action="userMenu" method="GET">
        <h1>User Menu</h1>
        <p><input type="submit" name="userMenu"></p>
    </form>

    <form action="orderMenu" method="GET">
        <h1>Order Menu</h1>
        <p><input type="submit" name="orderMenu"></p>
    </form>

    <form action="employeeMenu" method="GET">
        <h1>Employee Menu</h1>
        <p><input type="submit" name="employeeMenu"></p>
    </form>

    <form action="customerMenu" method="GET">
        <h1>Customer Menu</h1>
        <p><input type="submit" name="customerMenu"></p>
    </form>
</body>
</html>