<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Order List</title>
</head>
<body>
    <p>Order ID, User ID, Credit Card, City, State, Country, Address, Items, Price Per Item, Quantity Per Item, Cost Per Item, Original Quantity Per Item, Original Value Per Item, Altered Quantity Per Item, Altered Value Per Item, Total Cost, Date</p>
    {% if orderList %}
        {% for order in orderList %}
            <p>{{ order }}</p>
        {% endfor %}
    {% else %}
        <p>No Orders</p>
    {% endif %}
</body>
</html>